body{
    margin:0;
    padding:0;
    background-color: white;
    height: 100vh;
    overflow: hidden;
    font-family: "AnjaliOldLipi", sans-serif;
}

.header{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 70px;
    background-color: white;
    /*box-shadow: 0 2px 2px 2px #f6f6f6;*/
    border-bottom: 1px solid gainsboro;
    display: flex;
    flex-direction: row;
    padding: 0 32px;
}


.header__img{
    object-fit: contain;
    margin: auto 0;
}

.main__wrapper{
    display: flex;
    flex-direction: row;
    flex: 1;
    height: calc(100vh - 70px);
    padding:0 32px;
}

.notif__header{
    height: 50px;
    background-color: red;
    padding: 0 32px;
    display: flex;
    align-items: center;
    margin-top: 70px;
}

.mic__img{
    width: 20px;
    margin: auto;
}


.mic__wrapper{
    display: flex;
    flex-direction: row;
    margin-top: 32px;
}

.mic__indicator{
    height: 74px;
    width: 74px;
    background-color: rgba(0, 128, 128, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.mic_con{
    margin: auto;
    height: 50px;
    width: 50px;
    background-color: white ;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
}
.mic__text{
    margin: auto 16px;
    font-family: "AnjaliOldLipi", sans-serif;
    color: #666666;
}



.main__left{
    border-right: 1px solid gainsboro;
    flex:2;
}

.main__right{
    flex:1.5;

}

.user__logo{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: aqua;
}



.user__callout{
    max-width: 340px;
    border-radius: 0 12px 12px 12px;
    background-color: darkred;
    margin: 8px;
    float: left;
    padding: 16px;
    flex-wrap: wrap;
}


.bot__callout{
    max-width: 340px;
    border-radius: 12px 0 12px 12px;
    background-color: #262c6e;
    margin: 8px;
    float: right;
    padding: 16px;
    flex-wrap: wrap;
}