<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Voice AI</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>

<div class="header">
    <img class="header__img" src="/static/images/logo-lockup.png" alt="">
</div>

<div class="main__wrapper">
    <div class="main__left">
        <div  class="mic__wrapper">
            <div id="mic__indicator" class="mic__indicator">
                <div class="mic_con">
                    <img class="mic__img" src="/static/images/microphone@2x.png" alt="">
                </div>
            </div>
            <span class="mic__text" id="mic__text">Talk, Im listening</span>
        </div>
    </div>


    <div class="main__right">
        <div style=" width: 100%; padding: 16px; border-bottom: 1px solid gainsboro">
            <div class="user__logo">

            </div>
        </div>

        <ul style="padding: 16px; list-style: none; display: flex; flex-direction: column" id="chat_container">

        </ul>

    </div>

</div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
  <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>


<script src="/static/js/index.js" type="application/javascript"></script>

</body>
</html>